@using myWebApp.Models
@model IEnumerable<Administrator>

    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>userName</th>
            <th>password </th>
        </tr>
        @foreach (Administrator admin in Model)
        {
            <tr>
                <td>@admin.UserName</td>
                <td>@admin.Password</td>
            </tr>
        }
    </table>