@{
    ViewBag.Title = "Đăng nhập quản trị viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ADLogin", "Home", FormMethod.Post))

{
<fieldset>
    <legend>ĐĂNG NHẬP</legend>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @if (@ViewBag.MessageForLogin != null)
    {
        <div id="alertForLogin" style="border: 1px solid red">
            @ViewBag.MessageForLogin
        </div>
    }
    <!--
    <input type="text" class="form-control" name="id" placeholder="Mã nhân viên" required autofocus><br />
    <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required><br />
        -->
        <div class="form-outline">
            <label class="form-label" for="userID">Tài khoản</label>
            <input type="text" class="form-control" id="userID" name="id" required />
        </div>
    <br />
    <!-- Password input -->
        <div class="form-outline">
            <label class="form-label" for="pass">Mật khẩu</label>
            <input type="password" class="form-control" id="pass" name="password" required />
        </div>
    <br />
    <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="Đăng nhập" />
    <!--<table>
        <tr>
            <td>Html.Label("Tài khoản")</td>
            <td>Html.TextBox("id")</td>
        </tr>
        <tr>
            <td>
                Html.Label("Mật khẩu")
            </td>
            <td>
                Html.Password("password")
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Đăng nhập" />
            </td>

        </tr>
    </table>-->
</fieldset>
}
 <!--   <form class="form-signin">
        <input type="email" class="form-control" placeholder="Mã nhân viên" required autofocus>
        <input type="password" class="form-control" placeholder="Mật khẩu" required>
        <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Đăng nhập</input>
    </form>
-->
