@{
    ViewBag.Title = "Giới thiệu";
}

<div class="jumbotron">
    <h1>MÔ TẢ CHƯƠNG TRÌNH</h1>
    <p class="lead">
        Chương trình chấm công này dành cho những người làm việc tại nhà.
    </p>
    <p>
        Ngày nay, ngày càng có nhiều người làm việc tại nhà.
        Vì vậy công ty cần có những công cụ quản lý dành cho những người này như chấm công, báo cáo, bàn giao công việc…
        Đây là chương trình giúp chúng ta quản lý thời gian làm việc của nhân viên.
        Chương trình có 3 loại tài khoản: Administrator-President, Manager, và Normal user.
        Nhân viên bình thường sử dụng chương trình để chấm công cho mình, xem bảng chấm công của mình.
        Quản lý sử dụng chương trình để chấm công cho anh ta, xem bảng chấm công của anh ta; và có thể xem bảng chấm công của người dùng bình thường.
        Quản trị viên và giám đốc có đặc quyền quản trị viên, để xem tất cả thông tin của nhân viên và bảng chấm công của tất cả nhân viên; cấp đặc quyền quản trị cho bất kỳ ai.
    </p>
</div>

<address>
    <strong>VŨ ĐỨC SANG</strong><br />
    <strong title="Phone_zalo">Phone & Zalo:</strong> 0985.734.740<br />
    <strong>Email:</strong> <a href="mailto:sangvunn@gmail.com">sangvunn@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a target="_blank" href="https://www.linkedin.com/in/sang-vu-9b9672a3/">www.linkedin.com/in/sang-vu-9b9672a3/</a><br />
</address>