@using myWebApp.Models
@model IEnumerable<User>
@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_Layout - Member.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mã Số</th>
            <th scope="col">Họ Tên</th>
</tr>
    </thead>
    <tbody>
@{
    int number = 0;
    foreach (User itemUser in Model)
    {
        number += 1;
        <tr>
            <th scope="row">@number</th>
            <td>@itemUser.Id</td>
            <td>@itemUser.Name</td>
        </tr>
    }
}
    </tbody>
</table>

