@model IEnumerable<myWebApp.Models.Administrator>

@{
    ViewBag.Title = "Phân quyển Admin";
    Layout = "~/Views/Shared/_Layout - Member.cshtml";
}

<h2>PHÂN QUYỀN QUẢN TRỊ</h2>

<div class="form-inline">
    <label class="form-label" for="adminID-grantAdmin">ID</label>
    <input type="text" class="form-control" name="userID" id="adminID-grantAdmin" /> -
    <input type="text" class="form-control" id="name-grantAdmin" disabled />
    <button class="btn btn-primary" id="addUser-grantAdmin">Thêm vào danh sách</button>
    <strong class="text-danger" id="alertSpan" hidden>Thông tin người dùng chưa đúng!</strong>
</div>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td><!---><button class="btn btn-link" id="delUser-grantAdmin" value="Html.DisplayFor(modelItem => item.UserName)">Xóa</button>--></td>
        </tr>
    }

</table>
