
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout - Member.cshtml";
}

@using (Html.BeginForm("PasswordChange", "Admin", FormMethod.Post))

{
<fieldset>
    <legend>ĐỔI MẬT KHẨU</legend>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>
                @Html.Label("Mật khẩu mới")
            </td>
            <td>
                @Html.Password("newPassword")
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Đồng ý" />
            </td>

        </tr>
    </table>
</fieldset>
}




